.search-bar {
  padding: 10px;
  background: #FFFBF4; /* Floral White */
  border-radius: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
